<!DOCTYPE html>
<html class="<%= "h-full bg-gray-50" if devise_controller? %>">
  <head>
    <title>Buymeabugatti</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= favicon_link_tag asset_path('buymeabugatti-nobg.png') %>
     
  </head>

  <body class="<%= "h-full" if devise_controller? %>">
    <%= yield %>
  </body>
</html>
